POSTGRES_USER="email_agent"
POSTGRES_PASSWORD="change-this-long-random-password"
POSTGRES_DB="email_agent"

APP_BASE_URL="http://YOUR_SERVER_OR_DOMAIN"
APP_BIND_ADDRESS="127.0.0.1"
APP_PORT="3004"
APP_ENV_FILE=".env.production"
BASIC_AUTH_USER="owner"
BASIC_AUTH_PASSWORD="change-this-login-password"

OPENAI_API_KEY=""
OPENAI_CAMPAIGN_MODEL="gpt-4.1-mini"
OPENAI_REPLY_MODEL="gpt-4.1-mini"

INBOUND_WEBHOOK_SECRET="change-this-webhook-secret"

SMTP_PASS=""
SMTP_PASSWORD=""

META_GRAPH_API_VERSION="v25.0"
META_WHATSAPP_ACCESS_TOKEN=""
META_PHONE_NUMBER_ID=""
META_WABA_ID=""
META_APP_SECRET=""
META_WEBHOOK_VERIFY_TOKEN=""
META_WHATSAPP_DRY_RUN="true"
META_VALIDATE_SIGNATURE="true"
